<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
  </head>
  <body>
    <%- include('./parts/header.ejs')  %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul class="task__list">
      <h5 class="task__subtitle">Задача. У будь-якому з ваших проєктів: </h5>
      <li>Структрувати проєкт (винести окремі секції app.mjs у окремі розділи і модулі за зразком на лекції)</li>
      <li>Додати автентифікацію з використанням модуля  Password</li>
      <h5>Проблема</h5>
      <li>Маю проблему з виводом помилок, мені здається що я там щось перемудрив і вже трохи запутався як краще булоб вивести помилки</li>
    </ul>    
  </body>
</html>
